<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>BuildableType</key>
	<string>Test</string>
	<key>DefaultCompletionName</key>
	<string>Spec</string>
	<key>Description</key>
	<string>A Quick spec.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.h</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Name of the spec to create</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Spec</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>Summary</key>
	<string>A Quick spec</string>
	<key>SortOrder</key>
	<integer>1000</integer>
</dict>
</plist>
