osx_image: xcode7.3
language: generic
matrix:
  include:
    - os: osx
      env:
        - PLATFORM=osx
    - os: osx
      env:
        - PLATFORM=ios
    - os: osx
      env:
        - PLATFORM=tvos
    - os: osx
      osx_image: xcode8
      env:
        - PLATFORM=osx
    - os: osx
      osx_image: xcode8
      env:
        - PLATFORM=ios
    - os: osx
      osx_image: xcode8
      env:
        - PLATFORM=tvos
    - os: osx
      sudo: required
      env:
        - PODSPEC=1
    - os: osx
      env: 
        - XCTOOL=1
        - PLATFORM=osx
    - os: osx
      env: 
        - XCTOOL=1
        - PLATFORM=ios
    - os: osx
      env: 
        - XCTOOL=1
        - PLATFORM=tvos
    - os: linux
      env:
        - PLATFORM=linux
      sudo: required
      dist: trusty
install:
  - if [[ "$TRAVIS_OS_NAME" == "osx"   ]]; then ./script/travis-install-osx;   fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./script/travis-install-linux; fi
  - if [[ "$PODSPEC" ]]; then sudo gem install bundler; bundle install; fi
script:
  - if [[ "$TRAVIS_OS_NAME" == "osx"   ]]; then ./script/travis-script-osx;   fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./script/travis-script-linux; fi
