name: CI (Xcode)

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

jobs:
  filter:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5.3.1
        with:
          paths: '[".github/workflows/ci-xcode.yml", "Externals", "Quick.xc*", "Sources/**", "Tests/**", "Rakefile", "Externals"]'
          do_not_skip: '["push", "workflow_dispatch", "schedule"]'

  xcode:
    name: Xcode ${{ matrix.xcode }} (${{ matrix.platform }})
    needs: filter
    runs-on: macos-12
    strategy:
      matrix:
        xcode: ["14.0.1"]
        platform: ["macos", "ios", "tvos"]
      fail-fast: false
    env:
      DEVELOPER_DIR: "/Applications/Xcode_${{ matrix.xcode }}.app"
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
        if: ${{ needs.filter.outputs.should_skip != 'true' }}
      - run: rake test:${{ matrix.platform }}
        if: ${{ needs.filter.outputs.should_skip != 'true' }}
      - run: rake test:${{ matrix.platform }}_static
        if: ${{ needs.filter.outputs.should_skip != 'true' && matrix.platform == 'macos' }}
