name: CocoaPods

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

jobs:
  filter:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v3.4.0
        with:
          paths: '[".github/workflows/cocoapods.yml", "Quick.podspec", "Sources/**", "Gemfile*", "Rakefile"]'
          do_not_skip: '["push", "workflow_dispatch", "schedule"]'

  cocoapods:
    name: CocoaPods Lint
    needs: filter
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        if: ${{ needs.filter.outputs.should_skip != 'true' }}
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true
        if: ${{ needs.filter.outputs.should_skip != 'true' }}
      - run: rake podspec:lint
        if: ${{ needs.filter.outputs.should_skip != 'true' }}
